@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*, body{
  margin:0;
  padding:0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Fira Sans', sans-serif;
	overflow-x: hidden;
}

body{
  background-color: #fff;
}


:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

.main-menu{
  background-color: #252628;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 20px #d4d4d4;

  width: 70px;
  height: 100vh;

  position: fixed;
  top:0;
  left:0;
  
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  
  transition: .3s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-menu a {
  text-decoration: none;
  color: white;
}

.main-menu:hover{
  width : 250px;
  overflow-y: scroll;
}

.main-menu img {
  padding: 10px;
}

.main-menu .menu-item{
  padding: 10px;
}
.main-menu .menu-item:hover{
  background-color: #5e5e5e;
  cursor: pointer;
}

.main-menu .menu-item .fa{
  color: white;
  width:40px;
  font-size: 25px;
  padding: 10px;
}

.main-menu ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}


/* Pop up */
.popup {
  position: fixed;
  top: -100vh;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: top 0ms ease-in-out 300ms;
}

.popup .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 100ms ease-in-out 200ms;
}

.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.15);
  width: 95%;
  max-width: 350px;
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  opacity: 0;
  box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 300ms ease-in-out;
}

.popup .popup-content h2 {
  margin: 10px 0px;
  font-size: 25px;
  color: #111;
  text-align: center;
}

.popup .popup-content .input-create-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup .popup-content .input-create-topic .edit-input {
  background-color: #ebebeb;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  outline: none;
}

.popup .popup-content .controls {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 0px;
}

.popup .popup-content .controls button {
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.popup .popup-content .controls .close-btn {
  background: transparent;
  color: #111;
}

.popup .popup-content .controls .submit-btn {
  background: #111;
  color: #fff;
}

.popup.active {
  top: 0px;
  transition: top 0ms ease-in-out 0ms;
}

.popup.active .overlay {
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.popup.active .popup-content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}


/* MAIN */
#content {
  display: flex;
  justify-content: center;
  margin: 0px 100px;
}
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}

#content main .box-info {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
  width: 25%;
  margin: 30px;
}

#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}

#content main .box-info li .text p {
	color: var(--dark);	
}

#content main .box-info li .text .text-content {
  margin-top: 10px;
	color: var(--dark);	
}

#content main .table-data {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 0.75em;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
}

#content main .table-data .order table tr td .status.edit {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.delete {
	background: var(--red);
}

#content main .table-data .todo .todo-list {
	width: 90%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
/* MAIN */
/* CONTENT */

.button-management {
	font-size: 0.75em;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
}

.button-management.delete {
	background: var(--red);
}

.button-management.edit {
	background: var(--blue);
}
